
















/**/
.subheading {
    position: relative;
    font-size:56px
}



/*****/
.groupChild3 {
    position: absolute;
    top: 0px;
    left: 1074px;
    filter: blur(360px);
    border-radius: 50%;
    background: linear-gradient(269.87deg, #c900c1, rgba(201, 0, 193, 0));
    width: 653px;
    height: 653px;
}
/***/
.layer1Icon {
    position: absolute;
    top: 0px;
    left: 622px;
    width: 139.4px;
    height: 92.4px;
    overflow: hidden;
}
/**/
.stayUpdatedWith1 {
    width: 766px;
    position: relative;
    font-size: 20px;
    line-height: 152.02%;
    font-family: Inter;
    color: #6a6d70;
    display: inline-block;
}
/*****/
.stylishCollectionOfFurniturParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}




/****/
.frameParent9 {
    position: absolute;
    top: 65px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
}
/*-----------*/
.layer1Parent {
    position: absolute;
    top: 334px;
    left: 0px;
    width: 1200px;
    height: 1108px;
}

/*-----------*/
.stylishCollectionFoFurnitur {
    position: absolute;
    top: 937px;
    left: 120px;
    width: 1320px;
    height: 1073px;
    font-size: 20px;
    font-family: Sansation;
}









/****/
.homePage {
    width: 100%;
    position: relative;
    background-color: #FFFAE5;
    height: 5108px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}

