.logoChild {
    width: 32.8px;
    position: relative;
    height: 33.5px;
}
.logo {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
    box-sizing: border-box;
}
.text {
    width: 500px;
    position: relative;
    display: inline-block;
}
.placeholder {
    flex: 1;
    position: relative;
    line-height: 150%;
}
.textInput {
    width: 367px;
    background-color: #fff;
    border: 1px solid #6a6d70;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
}
.button {
    border-radius: 33px;
    border: 1px solid #6a6d70;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    color: #6a6d70;
}
.textInputParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.text1 {
    width: 500px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}
.textWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 12px;
    color: #6a6d70;
}
.frameGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
    color: #505050;
}
.textParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.logoParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 14px;
    color: #6a6d70;
}
.heading {
    width: 169.3px;
    position: relative;
    display: inline-block;
}
.linkParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    color: #6a6d70;
}
.headingParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.heading2 {
    width: 169.3px;
    position: relative;
    line-height: 150%;
    font-weight: 600;
    display: inline-block;
}
.iconFacebook {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.facebook {
    position: relative;
    line-height: 150%;
}
.link10 {
    width: 169.3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0px;
    box-sizing: border-box;
    gap: 12px;
}
.linkContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    color: #6a6d70;
}
.headingContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 11px;
}
.frameParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 59px;
}
.frameDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.textGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 678px;
    font-size: 12px;
    color: #6a6d70;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 40px;
}
.footerWrapper {
    position: absolute;
    top: 4786px;
    left: calc(50% - 720px);
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 120px;
    box-sizing: border-box;
}
.placeholderImage {
    flex: 1;
    position: relative;
    border-radius: 60px;
    max-width: 100%;
    overflow: hidden;
    height: 640px;
    object-fit: cover;
}
.subheading {
    position: relative;
    font-size:56px
}
.text3 {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    line-height: 150%;
    font-family: Roboto;
}
.content1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    text-align: left;
    font-size: 56px;
    color: #c900c1;
    font-family: Sansation;
}
.sectionTitle {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.number {
    align-self: stretch;
    position: relative;
    line-height: 120%;
}
.text4 {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 150%;
}
.listItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.row {
    width: 616px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0px;
    box-sizing: border-box;
    gap: 24px;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    text-align: left;
    font-size: 48px;
    color: #6a6d70;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.placeholderImageParent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}
.successHistoryOfC {
    position: absolute;
    top: 3884px;
    left: calc(50% - 720px);
    background-color: #fff;
    width: 1440px;
    height: 832px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 112px 120px;
    box-sizing: border-box;
    text-align: center;
}
.groupChild {
    position: absolute;
    top: 0px;
    left: 686px;
    width: 540px;
    height: 721px;
}
.enjoyOurLatest {
    width: 476px;
    position: relative;
    display: inline-block;
}
.shipOurCurated {
    width: 481px;
    position: relative;
    font-size: 24px;
    line-height: 152.02%;
    font-family: Inter;
    display: inline-block;
}
.enjoyOurLatestFashionTrendParent {
    position: absolute;
    top: 44px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}
.groupItem {
    position: absolute;
    top: 23px;
    left: 426px;
    width: 110px;
    height: 85.6px;
}
.quality {
    position: relative;
    line-height: 152.02%;
}
.ourFashionItems {
    width: 317px;
    position: relative;
    font-size: 16px;
    line-height: 130%;
    font-family: Roboto;
    color: #6a6d70;
    display: inline-block;
}
.qualityParent {
    position: absolute;
    top: 56px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.groupInner {
    position: absolute;
    top: 29.07px;
    left: 144.54px;
    border-radius: 50%;
    background-color: rgba(201, 0, 193, 0.05);
    width: 112.3px;
    height: 112.3px;
    transform:  rotate(105deg);
    transform-origin: 0 0;
}
.frameParent1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 317px;
    height: 150px;
}
.expressYouUnique {
    width: 229px;
    position: relative;
    font-size: 16px;
    line-height: 130%;
    font-family: Roboto;
    color: #6a6d70;
    display: inline-block;
}
.styleParent {
    position: absolute;
    top: 18px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.ellipseDiv {
    position: absolute;
    top: 0px;
    left: 38px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 56px;
    height: 56px;
}
.frameParent2 {
    position: absolute;
    top: 38px;
    left: 317px;
    width: 229px;
    height: 112px;
}
.groupContainer {
    position: absolute;
    top: 244px;
    left: 0px;
    width: 546px;
    height: 150px;
    font-size: 24px;
    font-family: Inter;
}
.groupChild1 {
    position: absolute;
    top: 56px;
    left: 56px;
    border-radius: 50%;
    background-color: #c900c1;
    width: 56px;
    height: 56px;
    transform:  rotate(-180deg);
    transform-origin: 0 0;
}
.groupDiv {
    width: 546px;
    position: relative;
    height: 394px;
}
.button2 {
    background-color: #000;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 12px;
    font-size: 16px;
    color: #fff;
    font-family: Roboto;
}
.groupParent {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 130px;
}
.frameChild {
    width: 584px;
    position: relative;
    border-radius: 48px;
    height: 696px;
    object-fit: cover;
}
.frameContainer {
    position: absolute;
    top: 97px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 70px;
}
.vectorParent {
    position: absolute;
    top: -97px;
    left: 0px;
    width: 1226px;
    height: 793px;
}
.enjoyOurLatestFashionTrend {
    position: absolute;
    top: 3088px;
    left: calc(50% - 600px);
    width: 1200px;
    height: 696px;
    font-size: 32px;
    font-family: Sansation;
}
.furnitureWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.stayUpdatedWith {
    width: 575px;
    position: relative;
    font-size: 18px;
    line-height: 140%;
    text-transform: capitalize;
    font-family: Inter;
    color: #6a6d70;
    display: inline-block;
}
.discoverTheLatestTrendsGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 32px;
    font-family: Sansation;
}
.button3 {
    background-color: #000;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 12px;
    color: #fff;
}
.frameParent3 {
    width: 1199px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.componentChild {
    width: 379px;
    position: relative;
    height: 254px;
    object-fit: cover;
}
.theLatestFurniture {
    width: 255px;
    position: relative;
    display: inline-block;
}
.discoverTheModern {
    width: 287px;
    position: relative;
    font-size: 14px;
    font-family: Roboto;
    display: inline-block;
}
.theLatestFurnitureTrendsFoParent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    font-size: 20px;
}
.furnitureParent {
    align-self: stretch;
    height: 117px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.frameItem {
    width: 40px;
    position: relative;
    border-radius: 50%;
    height: 40px;
    object-fit: cover;
}
.emilyJohson {
    align-self: stretch;
    position: relative;
}
.emilyJohsonParent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.ellipseParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: #6a6d70;
    font-family: Roboto;
}
.frameParent6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px;
    gap: 24px;
}
.rectangleParent {
    box-shadow: 0px 4px 4px #d3daeb;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.discoverTheModern2 {
    width: 287px;
    position: relative;
    font-size: 14px;
    font-family: Roboto;
    white-space: pre-wrap;
    display: inline-block;
}
.componentParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 31px;
}
.groupIcon {
    width: 34px;
    position: relative;
    height: 34px;
    object-fit: contain;
}
.frameChild1 {
    width: 34px;
    position: relative;
    height: 34px;
}
.groupParent1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.frameParent5 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 80px;
    font-size: 12px;
    font-family: Sansation;
}
.discoverTheLatestTrends1 {
    position: absolute;
    top: 321px;
    left: 539px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
}
.groupChild2 {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(360px);
    border-radius: 50%;
    background: linear-gradient(269.87deg, #c900c1, rgba(201, 0, 193, 0));
    width: 473px;
    height: 473px;
}
.discoverTheLatestTrendsParent {
    position: absolute;
    top: -323px;
    left: -419px;
    width: 1738px;
    height: 1159px;
}
.discoverTheLatestTrends {
    position: absolute;
    top: 2152px;
    left: 1px;
    width: 1319px;
    height: 836px;
}
.groupChild3 {
    position: absolute;
    top: 0px;
    left: 1074px;
    filter: blur(360px);
    border-radius: 50%;
    background: linear-gradient(269.87deg, #c900c1, rgba(201, 0, 193, 0));
    width: 653px;
    height: 653px;
}
.layer1Icon {
    position: absolute;
    top: 0px;
    left: 622px;
    width: 139.4px;
    height: 92.4px;
    overflow: hidden;
}
.stayUpdatedWith1 {
    width: 766px;
    position: relative;
    font-size: 20px;
    line-height: 152.02%;
    font-family: Inter;
    color: #6a6d70;
    display: inline-block;
}
.stylishCollectionOfFurniturParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.allFurnitureWrapper {
    border-radius: 33px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    color: #fff;
}
.bedroomWrapper {
    border-radius: 33px;
    background-color: rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
}
.frameChild2 {
    width: 151px;
    border-radius: 33px;
    background-color: rgba(0, 0, 0, 0.15);
    height: 68px;
    display: none;
}
.frameParent11 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}
.instanceInner {
    width: 276px;
    position: relative;
    border-radius: 16px;
    height: 176px;
    object-fit: cover;
}
.frameChild3 {
    width: 10.6px;
    position: relative;
    border-radius: 50%;
    background-color: #e7c4ab;
    border: 0.3px solid #fff;
    box-sizing: border-box;
    height: 10.6px;
}
.frameChild4 {
    width: 10px;
    position: relative;
    border-radius: 50%;
    background-color: #abd1e7;
    height: 10px;
}
.frameChild5 {
    width: 10px;
    position: relative;
    border-radius: 50%;
    background-color: #ccabe7;
    height: 10px;
}
.frameChild6 {
    width: 10px;
    position: relative;
    border-radius: 50%;
    background-color: #afabe7;
    height: 10px;
}
.ellipseParent2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.stylishSoftChairParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}
.addToWrapper {
    border-radius: 33px;
    background-color: #d4dcfb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 16px;
}
.parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 142px;
    font-size: 20px;
    color: #000;
}
.frameChild15 {
    width: 10.6px;
    position: relative;
    border-radius: 50%;
    background-color: #a2f78c;
    border: 0.3px solid #fff;
    box-sizing: border-box;
    height: 10.6px;
}
.frameChild18 {
    width: 10px;
    position: relative;
    border-radius: 50%;
    background-color: #e7abd2;
    height: 10px;
}
.rectangleParent5 {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.rectangleParent6 {
    position: absolute;
    top: 0px;
    left: 309px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.frameChild27 {
    width: 10.6px;
    position: relative;
    border-radius: 50%;
    background-color: #abe7bf;
    border: 0.3px solid #fff;
    box-sizing: border-box;
    height: 10.6px;
}
.frameChild30 {
    width: 10px;
    position: relative;
    border-radius: 50%;
    background-color: #e7abe1;
    height: 10px;
}
.rectangleParent7 {
    position: absolute;
    top: 0px;
    left: 617px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.rectangleParent8 {
    position: absolute;
    top: 0px;
    left: 924px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.instanceGroup {
    width: 1200px;
    position: relative;
    height: 312px;
}
.frameParent12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    font-size: 18px;
    color: #78798e;
    font-family: Sansation;
}
.frameParent10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
    font-size: 24px;
    font-family: Inter;
}
.frameParent9 {
    position: absolute;
    top: 65px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 80px;
}
.layer1Parent {
    position: absolute;
    top: 334px;
    left: 0px;
    width: 1200px;
    height: 1108px;
}
.ellipseParent1 {
    position: absolute;
    top: -369px;
    left: 0px;
    width: 1727px;
    height: 1442px;
}
.stylishCollectionFoFurnitur {
    position: absolute;
    top: 937px;
    left: 120px;
    width: 1320px;
    height: 1073px;
    font-size: 20px;
    font-family: Sansation;
}
.logoItem {
    width: 43.7px;
    position: relative;
    height: 44.6px;
}
.logo1 {
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
}
.livingRoom {
    position: relative;
    white-space: pre-wrap;
}
.menuBar1 {
    border-radius: 1px;
    border-bottom: 1px solid rgba(201, 0, 193, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 8px;
    color: #c900c1;
}
.menuBar2 {
    border-radius: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 8px;
}
.menuBar1Parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.button4 {
    border-radius: 33px;
    background-color: #c900c1;
    border: 1px solid #c900c1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
}
.button6 {
    border-radius: 33px;
    border: 1px solid #c900c1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    color: #c900c1;
}
.buttonParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    color: #fff;
    font-family: Roboto;
}
.menuBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 178px;
}
.discoverTheLatestParent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1px;
    z-index: 0;
}
.brushIcon {
    width: 180px;
    position: absolute;
    margin: 0 !important;
    top: 140px;
    left: 0px;
    height: 29px;
    z-index: 1;
}
.shopTheLatest {
    width: 481px;
    position: relative;
    font-size: 24px;
    line-height: 152.02%;
    font-family: Inter;
    display: inline-block;
    z-index: 2;
}
.frameParent23 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 60px;
}
.button8 {
    background-color: #000;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 12px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-family: Roboto;
}
.frameParent22 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 160px;
}
.frameChild35 {
    width: 272px;
    position: relative;
    border-radius: 32px;
    height: 261px;
    object-fit: cover;
    z-index: 0;
}
.newWrapper {
    margin: 0 !important;
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 33px;
    background-color: #e3f0fa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 19px;
    z-index: 1;
}
.rectangleParent9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 8px;
}
.frameChild36 {
    width: 276px;
    position: relative;
    border-radius: 32px;
    height: 261px;
    object-fit: contain;
    z-index: 0;
}
.newContainer {
    margin: 0 !important;
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 33px;
    background-color: #e8fae3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 19px;
    z-index: 1;
}
.rectangleParent10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 8px;
    cursor: pointer;
}
.frameChild37 {
    width: 580px;
    position: relative;
    border-radius: 32px;
    height: 261px;
    object-fit: cover;
    z-index: 0;
}
.newFrame {
    margin: 0 !important;
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 33px;
    background-color: #fae3f9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 19px;
    z-index: 1;
}
.frameParent24 {
    width: 580px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 32px;
    font-size: 16px;
    font-family: Roboto;
}
.heroSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 137px;
    font-size: 56px;
}
.heroSectionMeno {
    position: absolute;
    top: 48px;
    left: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 96px;
    font-family: Sansation;
}
.homePage {
    width: 100%;
    position: relative;
    background-color: #FFFAE5;
    height: 5108px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}

